#header{
    background: url(/assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 732px;
}
.align{
    text-align: center;
    padding-top: 200px;
    font-size: 45px;
    color: white;
}
.para{
    font-size: 14px;
    margin-bottom: 140px;
}
#about{
    text-align: center;
    margin-top: 40px;
}
#services{
    text-align: center;
    background-image: url(/assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 425px;
    color: white;
}
#what{
    display: flex;
    margin: 100px;
    width: 100%;
    justify-content: space-evenly;
    flex-grow: 0;
    flex-basis: 1;
   
}
.design{
    position: relative;
    top: 100px;
    right: 170px;
}
.development{
    position: relative;
    top: 100px;
    right: 190px;
}
.management{
    position: relative;
    top: 100px;
    right: 220px;
}
.row{
    display: flex;
    justify-content: center;

}
.portfolio .row img{
    width: 200px;
    padding: 10px;
    min-width: 20px;
}
#contact,.form-control{
    background-image: url(/assets/backgrounds/c_image.jpg);
    background-size: cover;
    color: white;
    padding:0px !important;
}
::placeholder{
    font-size: 18px;
    color: white !important; 
}
.socials{
    display: flex;
    justify-content: center;
    padding-right: 30px;
}
.socials img{
    padding: 5px;
}
.btn{
    text-align: center;
    justify-content: center;
}
