@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#header {
  background: url(/assets/backgrounds/h_img.jpg);
  background-size: cover;
  height: 732px;
}
.align {
  text-align: center;
  padding-top: 200px;
  font-size: 45px;
  color: white;
}
.para {
  font-size: 14px;
  margin-bottom: 140px;
}
#about {
  text-align: center;
  margin-top: 40px;
}
#services {
  text-align: center;
  background-image: url(/assets/backgrounds/s_image.jpg);
  background-size: cover;
  height: 425px;
  color: white;
}
.row1 {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
}
.portfolio .row1 img {
  width: 200px;
  padding: 0px;
}
#contact {
  background-image: url(/assets/backgrounds/c_image.jpg);
  background-size: cover;
}
#form{
    margin-left: 80px;
    width: 1150px;
    margin-right: 200px;   
}
input[type="text"] {
  background: transparent;
  color: white;
  font-size: 18px;
  margin-right: 100px;
}
input[type="email"]{
  background: transparent;
  color: white;
  font-size: 18px;
}
#textarea {
  background: transparent;
  color: white;
  margin-right: 50px;
  margin-left: 100px;
  height: 300px;
  margin-top: 20px;
}
#name::placeholder {
  color: white;
}
#email::placeholder {
  color: white;
}
#textarea::placeholder {
  color: white;
}
.socials {
  display: flex;
  justify-content: center;
  padding-right: 30px;
}
.socials img {
  padding: 5px;
}
#btn {
  text-align: center;
  margin-left: 70px;
  margin-top: 15px;
}
#design,#develop,#project {
  display: none;
}
.row1container p {
  display: none;
  opacity: 1;
  position: absolute;
  border: 5px solid white;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
  color: white;
  height: 144px;
  width: 180px;
  top: 0;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.678);
}
.row1container {
  position: relative;
  margin: 10px;
  flex: 1;
}
.heading{
  font-size: 20px;
}
#hover1,#hover2,#hover3,#hover4,#hover5,#hover6,#hover7,#hover8{
  font-size: 25px;
}

